################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ParkingManagement/DesignTimeBuild
/.vs/ParkingManagement/v16/TestStore/0
/.vs/ParkingManagement/v16
